services:
  forex-db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db-data:/var/lib/postgres/data
    ports:
      - "5432:5432"
volumes:
  db-data: